.nav>*{
  font-size: 10000px !important;
}
.sliderContainer{
    margin: 0px !important;
    padding: 0px !important;
    margin-top: -20px !important;
}

.carousel .carousel-item {
    height: 500px;
  }

  .carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.8);
  }

  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }

  .carousel-item > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1 !important;
  }


  .postTitle{
    font-size: 3rem !important;
    font-weight: 100 !important;
  }


  .afterSliderContent{
    margin-top: 200px !important;
  }


.card>a{
  color: #2D2D2D !important;
}

.card-title{
  font-size: 1.7em;
  font-weight: 100;
}

.card-text,.card-footer{
  font-weight: 300;
}

.card>a>img{
  height: 250px;
  width:100%;
}

.categoryName{
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-bottom: 10px;
}