{% extends 'Blog/header.html' %}
{% block title %} a blog about technology {% endblock %}

  {% block content %}

      <div class="container-fluid sliderContainer">
        <div class="row">
          <div class="col-md-12">
            <div class="slider">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-inner">

    {% for post in postData|slice:":3" %}

    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" data-interval="100">
      <img src="/media/{{ post.featuredImage }}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5 class="postTitle">{{post.postName}}</h5>
        <a href="post/{{ post.id}}/">Read</a>
      </div>
    </div>
    {% endfor %}

          
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div>
      </div>

      <div class="container-fluid py-5">
        <div class="row">
          <div class="col-md-12 pb-3 mb-4">
            <div class="container">
              <h2 class="postTitle">Latest posts</h2>
            <br>
            <div class="row row-cols-1 row-cols-md-3 g-4 h-100">

                {% for post in postData|slice:":6" %}

                <div class="col">
                  <div class="card">
                    <a class="text-decoration-none" href="/post/{{post.id}}/">
                      <img src="/media/{{post.featuredImage}}" class="card-img-top" alt="...">
                      <!--<div class="categoryOverImage position-absolute badge bg-dark p-2 m-2">{{post.category}}</div>-->
                    <div class="card-body">
                      <div class="categoryName"><b>{{post.category}}</b><br>{{post.author}} | {{post.datePublished}}
                      </div>
                      <br>
                      <h5 class="card-title">{{post.postName}}</h5>
                      <br>
                      <p class="card-text">{{post.postContent|slice:":80"}}...</p>
                    </div>
                    </a>
                  </div>
                </div>
                {% endfor %}


                

              </div>
              <div class="text-center">
                <a href="/posts/">All posts &gt;</a>
              </div>
            </div>
      
          </div>
      
        </div>
      </div>

</div></div>

      
  {% endblock %}