{% extends 'Blog/header.html' %}

  {% block content %}


  <div class="container py-4">
    <header class="pb-3 mb-4">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">
          {% load static %}
<img src="{% static 'Blog/images/logo.png' %}" height="70px">
      </a>
    </div>
    </header>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="slider">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-inner">
            {% for post in postData %}
            <div class="carousel-item active">
              <img src="{{ post.featuredImage }}" class="d-block w-100" alt="...">
              <div class="carousel-caption">
                <h5 class="postTitle">{{post.postName}}</h5>
                <a href="post/{{ post.id}}/">Pročitaj</a>
              </div>
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div>
      </div>

  {% endblock %}