{% extends 'Blog/header.html' %}

{% block title %} {{ postData.postName }} {% endblock %}

  {% block content %}

  {% if postData %}
  <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="heroText">
                <h1 class="display-5 fw-bold text-center">{{ postData.postName }}</h1>
                <br>
                <p class="text-center">{{postData.author}} | {{postData.datePublished}}</p>
                <br>
            </div>
        </div>
        <div class="container">
          <div class="featured text-center">
          <img src="/media/{{ postData.featuredImage }}" alt="Post Image" width="50%">
          </div>
          <br>
        <p class="content py-5">
          {{postData.postContent |safe}}
        </p>
      </div>
    </div>
  </div>
  {% load static %}

  <style>
  .bg-overlay {
      background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url('/{{postData.featuredImage}}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      color: #fff;
      height: 450px;
      padding-top: 50px;
  }
  </style>
  {% endif%}

  {% endblock %}